*{
 padding: 0;
 margin: 0;
}
body{
	background: #ddd;
}
#contenedor{
      width: 950px;
      margin: auto;
}
main{

 text-align: center;
	color: white;
	line-height: 50px;
	font-style: italic;

}
     
main{
    width: 950px;
    height: 100px;
    background-color: #333;
}
header nav{
        text-align: center;
        background-color: #ff6309;
}
header nav ul li{
	 display: inline-block;
	 padding: 10px;
}
header nav ul li a{
	text-decoration: none;
	font- font-family:  fantasy;
	font-size: 20px;
	color: black;
	font-weight: bold;
}
header nav ul li a:{
	color: white;
}
section{
	float: left;
	width: 700px;
	height: 450px;
	margin-top: 5px;
	background-color: white;
}
aside{

	margin-top: 5px;
	float:  left;
	width: 195px;
	height: 200px;
	margin-left: 5px;
	background-color: white;
}
aside: nth-of-type(3){
	height: 70px;
}
footer{
	clear: both;
	width: 950px;
	height:50px;
	background-color: #333;
	text-align: center;
	color: white;
	line-height: 50px;
	font-style: italic;
}